@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    background-color: transparent;
    }

.background-image {
    background-image: url("https://ffwallpaper.com/wallup/xenoblade-chronicles/xenoblade-chronicles-31.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    height: 1005px;

}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    }


.title {
    color: black;
    font-size: 32px;
    font-family: 'Fredoka One', cursive;   
    display: flex;
    justify-content: center; 
    align-content: center;
 }

.subtitle {
    color:black ;
    font-size: 24px;
    display: flex;
    justify-content: center; 
    align-content: center;
    
}
.tarjetas {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 160px;
    height: 100px;
    background-color: transparent;
    padding: 12px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}
#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    padding: 10px;
    border: 1px solid black;
    font-family: 'Fredoka One', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

    margin-top: 30px;
}
.tarjeta-de-mokepon img {
    width: 80px;
}
input {
    display:none;
}

#seleccionar-ataque {
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque {

    background-color: transparent;
    padding: 10px;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
    border: 2px solid black;
    width: 100px; 
    color: black;
    font-family: 'Fredoka One', cursive;
}