@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    font-family: 'Fredoka One', cursive;
    background-color: rgb(93, 148, 238);
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    color:beige;
    font-size: 32px;
    
 }

.subtitle {
    color:beige ;
    font-size: 24px;
    
}
.tarjetas {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 100px;
    height: 100px;
    background-color: rgb(191, 177, 177);
    padding: 12px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid black;

}

input{
    display:none;
}